{% extends 'index.html' %}
{% block contenido %}

  <div class="col-4">
  <div class="card-header card text-white bg-dark" >Soluciones del paquete {{pkt}}</div>
  <div class="card-body bg-secondary" >

  <label for="sel1">Seleccione un problema e ira a la solución:</label>
      <hr>
<div style="overflow:scroll;height:150px;width:280px;border:solid" class="bg-secondary text-white">
    <ul>
    {%for j in problemas%}
    <li><a class="text-white" href="{% url 'versolucion'  j.problemaID.problemaLibro j.problemaID.problemaNumero %}">{{j.problemaID.problemaNumero}}/{{j.problemaID.problemaLibro}}</a></li>

      {% endfor %}
        </ul>
</div>
      <br>
      <hr>
      <label>Haga click sobre la figura e ira a la solución:</label>

</div>
  <div class="card-footer text-white bg-dark">Mis Soluciones</div>
</div>

   <div class="col-8">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for u in problemas %}
      {% if forloop.first %}
    <div class="carousel-item active">
        <a href="{% url 'versolucion' u.problemaID.problemaLibro  u.problemaID.problemaNumero %}"><img src="{{u.problemaID.problemaProblema.url }}" class="d-block w-100" alt="..."></a>
    </div>
      {% endif %}
       <div class="carousel-item">
        <a href="{% url 'versolucion' u.problemaID.problemaLibro  u.problemaID.problemaNumero %}"><img src="{{u.problemaID.problemaProblema.url }}" class="d-block w-100" alt="..."></a>
    </div>
   {%endfor%}
   
</div>
</div>
</div>



{%endblock%}



